/*Globales*/
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a:hover{
    color:#369BA8;
    cursor: pointer;
}

button:hover{
    background-color:#34b7c9;
    border-color: #34b7c9;
    cursor: pointer;
}

input{
    border-radius: 1rem;
    padding: .75rem 1rem;
    width: 270px;
}

a{
    text-decoration: none;
    color: #efefef;
}


/*Menu*/
.menu{
    background-color: black;
    padding: 10px 0;
    color: white;
}

.menu-text{
    font-weight: 500;
    font-size: 16px;
    display:flex;
    align-items: center;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    list-style: none;
    white-space: nowrap;
}

.logo{
    height: max-content;
}

/*Jumbotron*/
.jumbotron{
    background-color: #bbc6c8;
    padding: 70px 0;
}

.jumbotron nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.jumbotron-img{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-end;
    max-width: 500px;
    width: 100%;
    margin: 0 0 0 auto;
}

.jumbotron-content p{
    font-weight: 500;
}

h4{
    font-size: 12px;
}

.btn1{
    background-color: #369BA8;
    border-color: #369BA8;
    color: white;
    font-weight: 500;
    border-radius: 1rem;
    padding: .75rem 1rem;
}

.btn2{
    background-color: black;
    border-color: black;
    color: white;
    font-weight: 500;
    border-radius: 50px;
    padding: .75rem 1rem;
}

/* Blog */
.blog{
    background-color: white;
    padding: 100px 0;
}

.catalogo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

.catalogo .card-content{
    background-color: white;
    border-color: black;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-radius: 0 10px 10px 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 8px 0 0;
    height: 330px;
    width: 230px;
}

.card-content ul{
    padding-left: 15px;
    line-height: 30px;
}

.catalogo img{
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

main ul{
    list-style: none;
}

.listing{
    font-weight: 500;
}

/*Adicionales*/
.add{
    background-color: #bbc6c8;
}

.add nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.add img{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-content{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    justify-self: flex-end;
    max-width: 500px;
    width: 100%;
    margin: 0 auto 0 0;
    gap: 20px;
}

.add-content p{
    font-weight: 500;
    line-height: 28px;
    font-size: 18px;
}

/*footer*/
footer{
    background-color: black;
    padding: 30px 0;
    color: white;
}

footer nav{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.redes-sociales{
    display: flex;
}

.link-container{
    display: flex;
    justify-content: center;
    gap:40px;
}

dt{
    font-weight: 500;
    line-height: 1.4;
    margin: 20px 0;
}

dd{
    margin-inline-start: 0;
    font-size: 16px;
    padding: 3px 0 15px;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 200;
    border-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-top-width: 1px;
    max-width: 1170px;
    width: 100%;
    margin: 50px auto 0;
    padding-top: 30px;
}
